body {
    font-family: 'Montserrat', sans-serif;
    background-color: #001120;
    color: white;
    max-width: 100vw;
}

.gold-title {
    color: #B99641;
}

.fl-gold::first-letter {
    color: #B99641;
}

.fl-bold-gold::first-letter {
    color: #B99641;
    font-weight: bold;
}

a:link {
    color: #B99641;
}

a:visited {
    color: #B99641;
}