.carousel_equipe_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.carousel_card_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.carousel_card_container .left-arrow {
    margin-right: 50px;
    width: 42px;
    height: 42px;
}

.carousel_card_container .right-arrow {
    margin-left: 50px;
    width: 42px;
    height: 42px;
}

.carousel_card {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.carousel_card_img {
    height: 20vw;
    width: 20vw;
    object-fit: contain;
}

.carousel_card_info {
    padding-left: 30px;
    text-align: center;
}

.teammate-names {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.teammate-name::first-letter {
    color: #B99641;
    margin-left: 10px
}